<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body>

    <h1>Link List!</h1>

    <table border="1">
      <tr>
        <th>Full Link</th>
        <th>Short Link</th>
        <th>Options</th>
      </tr>
      <% for (var x in urls) { %>
      <tr>
        <td><%=urls[x] %></td>
        <td><a href='/u/<%= x %>' target ='_blank'><%= x %></a></td>
        <td>

           <form method="POST" action="/urls/<%= x %>">
            <input type="submit" value="EDIT">
          </form>

          <form method="POST" action="/urls/<%= x %>/delete">
            <input type="submit" value="DELETE">
          </form>

        </td>
      </tr>
      <% }; %>
    </table>

    <p><a href='/urls/new'>Click here to shorten another link!</a></p>

</body>
</html>